* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2.5vw;
}

:root {
  --color1: #F5EB9E;
  --color2: #F59ED4;
  --color3: #9df5bf;
  --color4: #9EA8F5;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #F8F9FE;
  background-color: black;
}

header{
  border-bottom: 1vw solid var(--color4);
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
  min-height: 40px;
}

header div{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 6vw 20px 6vw 20px;
  width: 80%;
}

header h1 {
  color: var(--color1);
  font-size: 120%;
}

header h2 {
  color: var(--color2);
  font-size: 120%;
}

header h2 span {
  font-size: 100%;
}

.form {
  background: grey;
  color: var(--color4);
}

header span {
  color: var(--color3);
}

.quiz-wrapper, .message {
  width: 90%;
  border: solid 4px var(--color1);
  margin: 0 auto;
  margin-bottom: 50px;
  color: #F8F9FE;;
  padding: 5vw 5vw 1vw 5vw;
  border-radius: 15px;
}

.message { 
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  border-bottom: 2px solid var(--color1);
  padding-bottom: 35px;
  line-height: 1.5;
  font-weight: normal;
  overflow-wrap: break-word;
}

#start {
  color: black;
  padding: 15px 32px;
  border-radius: 15px;
  background-color: var(--color2);
  text-align: center;
  font-weight: bold;
  margin-bottom: 35px;
  margin-top: 35px;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--color1);
}

#start:hover{
  box-shadow: 2px 2px 0 2px var(--color1);
  background-color: black;
  color: var(--color2);
}

#start:active{
  box-shadow: none;
  border-top: none;
  border-left: none;
}

.choices {
  list-style: none;
  gap: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  overflow-wrap: break-word;
}

.choice {
  height: 50px;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  flex-wrap: wrap;
  color: black;
  font-size: 80%;
}

.choice:nth-child(1) {
  background-color: var(--color1);
  border: 2px solid var(--color2);
}

.choice:nth-child(2) {
  background-color: var(--color2);
  border: 2px solid var(--color3);
}

.choice:nth-child(3) {
  background-color: var(--color3);
  border: 2px solid var(--color4);
}

.choice:nth-child(4) {
  background-color: var(--color4);
  border: 2px solid var(--color1);
}

.choice:hover {
  background-color: black;
}


.choice:nth-child(1):hover {
  color: var(--color1);
}

.choice:nth-child(2):hover {
  color: var(--color2);
}

.choice:nth-child(3):hover {
  color: var(--color3);
}

.choice:nth-child(4):hover {
  color: var(--color4);
}

/* Small Desktops */
@media screen and (max-width: 980px) {
  header h1, header h2 {
    font-size: 29px; 
  }

  .question, .choice, #start{
    font-size: 18px;
  }
}

/* iPads */
@media screen and (max-width: 780px) {
  .choices {
    grid-template-columns: 1fr;
  }
  
  header {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 650px) {
  header div {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  
  header h1 {
    margin-bottom: 7px;
  }
  .question, .choice, #start{ {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  header h1, header h2 {
    font-size: 22px; 
  }

  .choice {
    font-size: 16px;
  }
}